[submodule "themes/hugo_theme_robust"]
	path = themes/hugo_theme_robust
	url = https://github.com/dim0627/hugo_theme_robust.git
[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/sethmacleod/dimension.git
[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/shenoybr/hugo-goa.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
